
<div class="page">
  <h1>New task</h1>

  <div class="form">
     <%= form_with model: @task do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :details %>
    <%= f.text_field :details %>
    <%= f.submit %>
  <% end %>
  </div>

</div>
